{% extends "base.html" %} {% load static %}

<!-- stylesheet -->
{% block otherHead %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock otherHead %}

<!-- content -->
{% block content %}
<div class="wrapper">
  <div class="owl-carousel owl-theme">
    <div class="item">
      <div class="img-wrap">
        <img src="{% static 'img/logo.png' %}" width="276px" height="70px" />
      </div>
    </div>

    <div class="item">
      <div class="comment-wrap">
        <div class="d-flex flex-column align-items-center gap-5 text-center">
          <div class="ns-bold">
            <div class="double-qt">"</div>
            <div class="sentence">산만해서, 낯가림이 심해서,</div>
            <div class="sentence">말이 늦어서 남다른 우리아이는</div>
            <div class="marked-sentence"><span class="highlight">잘 자라고 있을까요?</span></div>
            <div class="double-qt">"</div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="comment-wrap">
        <div class="d-flex flex-column align-items-center text-center">
          <div class="ns-bold mb-3">
            <div class="sentence">SOS랩과 함께하는,</div>
            <div class="marked-sentence">경계성아동 발달이해검사</div>
            <div class="sentence">꼭 실시해야 하는 이유?</div>
          </div>

          <div class="reason-box">
            <div class="reason-title">
              <img src="{% static 'img/notice.png' %}" width="22px" />
              경계성 아동의 증가
            </div>
            <div class="reason-content">
              출산율은 점점 낮아지는데 <br />
              경계성 아동의 수는 매년 증가하고 있어요!
            </div>
          </div>
          <div class="reason-box">
            <div class="reason-title">
              <img src="{% static 'img/notice.png' %}" width="22px" />
              조기발견: 만 1세 ~ 만 6세
            </div>
            <div class="reason-content">
              이 짧은 시기동안 아동의 폭발적인 성장이 이루어져요! <br />
              조기발견을 통해서 조기치료를 한다면 더 좋은 효과를 볼 수 <br />
              있기 때문에 이 시기를 놓치지 않는게 중요합니다.
            </div>
          </div>
          <div class="reason-box">
            <div class="reason-title">
              <img src="{% static 'img/notice.png' %}" width="22px" />과학적인 검사
            </div>
            <div class="reason-content">
              학술논문지 68편, 석사논문 117편, 박사논문 82편, <br />관련학술서적 5편 이상 리뷰한
              국내 유명 심리 교수진이 <br />현장 전문가와 협업해서 제작한 과학적인 검사예요!
            </div>
          </div>
          <div class="reason-box">
            <div class="reason-title">
              <img src="{% static 'img/notice.png' %}" width="22px" />결과지 제공
            </div>
            <div class="reason-content">
              직관적이고 간단한 검사이지만, 결과지를 제공해요!<br />
              검사 종료와 동시에 결과지를 확인할 수 있어서 좋아요.
            </div>
          </div>
          <div class="reason-box">
            <div class="reason-title">
              <img src="{% static 'img/notice.png' %}" width="22px" />솔루션 제공
            </div>
            <div class="reason-content">
              검사만으로 끝나는 것이 아닌, <br />바로 실천 해 볼 수 있는 유용한 팁들이 카드뉴스로
              제공돼요!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="comment-wrap">
        <div class="d-flex flex-column align-items-center text-center">
          <div class="ns-bold m-3">
            <div style="font-size: 1.2rem">경계성아동 발달이해검사</div>
            <div class="sentence">전문가 소개</div>
          </div>

          <div class="expert-wrap">
            <img src="{% static 'img/expert1.png' %}" width="140px" />
            <div class="expert-info">
              <div class="expert-title">아동행동발달전문병원 발달센터장</div>
              <div class="expert-name">김의연 교수</div>
              <ul>
                <li><span>일본 Kurume 대학교 심리학 박사</span></li>
                <li><span>인하대 교육학과 겸임교수</span></li>
                <li><span>한국인간발달학회 이사</span></li>
                <li><span>아동행동발달전문병원 발달센터장 </span></li>
                <li><span>역임) 서울심리지원 서남센터 센터장</span></li>
              </ul>
            </div>
          </div>
          <div class="expert-wrap">
            <img src="{% static 'img/expert2.png' %}" width="140px" />
            <div class="expert-info">
              <div class="expert-title">한국 웰니스 협회 대표</div>
              <div class="expert-name">전겸구 교수</div>
              <ul>
                <li><span>University of Massachusetts at Amherst 심리학 박사</span></li>
                <li><span>전인치유 Academy 원장</span></li>
                <li><span>한국 웰니스 협회 대표</span></li>
                <li><span>역임) 한국건강심리학회 회장</span></li>
                <li><span>역임) Brigham Young University, 심리학과 전임 교수</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="test-info-wrap">
        <div class="d-flex flex-column align-items-center gap-1">
          <div class="ns-bold test-top">
            <div>우리아이의</div>
            <div><span class="test-span">경계성 발달</span>이</div>
            <div>고민이라면?</div>
          </div>

          <div class="ns-medium tester-box">만1세~6세</div>

          <img src="{% static 'img/cover.gif' %}" width="200px" class="test-info-img" />

          <div class="test-bg">
            "우리 아이가 어떤 부분이 부족하고<br />
            어떤 부분이 괜찮은지 객관적으로 알고 싶어요!"
          </div>
          <div class="test-bg">
            "혹시 경계성이 아닌지 궁금해요.<br />
            병원에 가기 전에 알고 싶어요."
          </div>

          <div class="mt-2">
            <div>
              우리 아이의 발달 수준, 자폐 경향성,<br />
              ADHD 경향성이 궁금하다면,
            </div>
            <div class="ns-bold" style="font-size: 1rem">간단한 검사를 통해 알 수 있어요!</div>
          </div>

          <a class="ns-regular testBtn" href="/user/userInfo">시작하기</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- OTHER JS -->
<script src="{% static 'js/jquery.validate.js'%}"></script>
<script src="{% static 'js/jquery.placeholder.js'%}"></script>
<script src="{% static 'js/jquery.bxslider.min.js'%}"></script>
<script src="{% static 'js/quantity-bt.js'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="{% static 'js/retina.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/functions.js'%}"></script>

{% endblock content %}
