{% extends "base.html" %} {% load static %}

<!-- content -->
{% block content %}
<section id="top-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 main-title">
        <h5>발달장애아동의 발달이해 검사</h5>
        <!-- <div class="ns-semibold question-type">[ 검사문항 A - 발달수준 ]</div> -->
      </div>
    </div>
  </div>
</section>

<section class="container" id="main">
  <!-- Start Survey container -->
  <div id="survey_container" style="height: auto">
    <div id="top-wizard">
      <div class="mb-1">검사문항 진도율<span id="location"></span></div>
      <div id="progressbar"></div>
      <div class="top-shadow"></div>
    </div>
    <!-- end top-wizard -->

    <form name="example-1" id="wrapped" action="" method="POST">
      {% csrf_token %}
      <div id="middle-wizard">
        {% for arr in question_arr %}
        <div class="step">
          {% for q in arr %}
          <div class="row">
            <div>
              <div class="question-content">{{q.number}}. {{q.content}}</div>
              <div class="d-flex">
                <div class="answer-wrap">
                  <input
                    name="a{{q.number}}"
                    type="radio"
                    class="required answer-radio"
                    value="1"
                  /><label class="answer-label">전혀 아니다</label>
                </div>
                <div class="answer-wrap">
                  <input
                    name="a{{q.number}}"
                    type="radio"
                    class="required answer-radio"
                    value="2"
                  /><label class="answer-label">가끔 그렇다</label>
                </div>
                <div class="answer-wrap">
                  <input
                    name="a{{q.number}}"
                    type="radio"
                    class="required answer-radio"
                    value="3"
                  /><label class="answer-label">자주 그렇다</label>
                </div>
                <div class="answer-wrap">
                  <input
                    name="a{{q.number}}"
                    type="radio"
                    class="required answer-radio"
                    value="4"
                  /><label class="answer-label">거의 언제나 그렇다</label>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        <!-- end step -->

        <div class="submit step" id="complete">
          <!-- 테스터 이름 받아오기 -->
          <h3>님!</h3>
          <div>
            우리아의 발달이해 검사 결과를 보여드립니다.<br />
            아래 버튼을 클릭하시어, 결과를 확인해 주세요.<br />
            결과에 따라서 맞춤형 정보를 확인하시고,<br />
            실천해 보시길 바랍니다.
          </div>
          <button type="submit" name="process" class="submit">종료(결과 보기)</button>
          <div>언제나 SOS랩을 사랑해 주셔서 감사합니다.</div>
        </div>
        <!-- end submit step -->
      </div>
      <!-- end middle-wizard -->

      <div id="bottom-wizard">
        <button type="button" name="backward" class="backward"></button>
        <button type="button" name="forward" class="forward"></button>
      </div>
    </form>
  </div>
  <!-- end Survey container -->
</section>
<!-- end section main container -->

<!-- background polygons -->
<div id="bg-ring"></div>
<div id="bg-ring-triangle"></div>
<div id="bg-circle"></div>
<div id="bg-square"></div>

<!-- OTHER JS -->
<script src="{% static 'js/jquery.validate.js'%}"></script>
<script src="{% static 'js/jquery.placeholder.js'%}"></script>
<!-- <script src="{% static 'js/jquery.tweet.min.js'%}"></script> -->
<script src="{% static 'js/jquery.bxslider.min.js'%}"></script>
<script src="{% static 'js/quantity-bt.js'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="{% static 'js/retina.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/functions.js'%}"></script>

{% endblock content %}
