{% extends "base.html" %} {% load static %}

<!-- stylesheet -->
{% block otherHead %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock otherHead %}

<!-- content -->
{% block content %}
<section id="top-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 main-title">
        <h4 id="main-title-text">아동/검사자 정보 입력</h4>
      </div>
    </div>
  </div>
</section>

<section class="container" id="main">
  <!-- Start Survey container -->
  <div id="survey_container">
    <div id="wrapped">
      <form name="example-1" action="{% url 'userInfo' %}" method="POST">
        {% csrf_token %}
        <div id="middle-wizard">
          <div class="step">
            <div class="row">
              <div class="col-md-10 info-title">아동 정보</div>
              <div class="col-md-6">
                <ul class="data-list">
                  <li>
                    <div class="info-label">*아동 이름</div>
                    <input
                      type="text"
                      name="childName"
                      class="required form-control"
                      placeholder="아동 이름을 입력해주세요."
                    />
                  </li>
                  <li>
                    <div class="info-label">*생년월일</div>
                    <input
                      type="date"
                      name="childBirthDate"
                      class="required form-control"
                      placeholder="birthDate"
                    />
                  </li>
                  <ul class="data-list floated clearfix">
                    <div class="info-label">*아동 성별</div>
                    <div class="row-gender">
                      <div class="gender-box">
                        <input name="gender" type="radio" class="required" value="F" /><label
                          class="label_gender"
                          >여자</label
                        >
                      </div>
                      <div>
                        <input name="gender" type="radio" class="required" value="M" /><label
                          class="label_gender"
                          >남자</label
                        >
                      </div>
                    </div>
                  </ul>

                  <ul class="data-list">
                    <li>
                      <div class="info-label">*거주지역</div>
                      <div class="styled-select">
                        <select class="form-control required" name="country">
                          {% for e in emd_list %}
                          <option value="{{e.id}}">{{e}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </li>
                  </ul>

                  <li>
                    <div class="info-label">어린이집/유치원 이름</div>
                    <input
                      type="text"
                      name="kindergarden"
                      class="form-control"
                      placeholder="어린이집/유치원 이름을 입력해주세요."
                    />
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <ul class="data-list" id="terms">
                  <li>
                    <input type="checkbox" name="childTerms" class="required" value="yes" />
                    <strong
                      ><a href="#" data-toggle="modal" data-target="#terms-txt" id="myModal"
                        >개인정보 수집</a
                      >에 동의합니다.
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end step-->

          <div class="step">
            <div class="row">
              <h3 class="col-md-10">검사자 정보</h3>
              <div class="col-md-6">
                <ul class="data-list">
                  <li>
                    <div class="info-label">*이름</div>
                    <input
                      type="text"
                      name="testerName"
                      class="required form-control"
                      placeholder="검사자 이름을 입력해주세요."
                    />
                  </li>
                  <li>
                    <div class="info-label">생년월일</div>
                    <input
                      type="date"
                      name="testerBirthDate"
                      class="form-control"
                      placeholder="birthDate"
                    />
                  </li>
                  <li>
                    <div class="info-label">*연락처</div>
                    <input
                      type="tel"
                      name="testerPhone"
                      id="onlyNum"
                      class="required form-control"
                      placeholder="-없이 연락처를 입력해주세요."
                      maxlength="11"
                    />
                  </li>
                  <ul class="data-list">
                    <li>
                      <div class="info-label">*아동과의 관계</div>
                      <div class="styled-select">
                        <select class="form-control required" name="relationship">
                          <option value="F">부</option>
                          <option value="M">모</option>
                          <option value="G">조부모</option>
                          <option value="T">교사</option>
                          <option value="E">기타</option>
                        </select>
                      </div>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <ul class="data-list" id="terms">
                  <li>
                    <input type="checkbox" name="testTerms" class="required" value="yes" required />
                    <strong
                      ><a href="#" data-toggle="modal" data-target="#terms-txt" id="myModal"
                        >개인정보 수집</a
                      >에 동의합니다.
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end step -->

          <div class="submit step" id="complete">
            <div>
              <div>"검사를 시작하기 전에 꼭 한 번 천천히 읽어주세요."</div>
              <div>각 문항을 보면서 지난 3개월동안 가장 가까운 정도를 표시해 주세요.</div>
              <div>
                각 문항에는 옳고 그른 답이 없으며 가장 가깝다고 <br />생각하시는 정도에 있는 그대로
                표시해주세요.
              </div>
            </div>
            <div>
              <div>1. 검사 문항에 대해 있는 그대로 솔직하게 응답해 주세요.</div>
              <div>2. 응답할 때 너무 시간을 끌지 말고 떠오르는 대로 체크해 주세요.</div>
              <div>3. 각 문항에 대해 가장 가깝다고 판단되는 것을 선택해 주세요.</div>
              <div>4. 자녀가 여러 명일 경우 각각 따로 진행해 주세요.</div>
              <div>
                5. 검사는 총 54 문항이며 소요 시간은 10 분 내외입니다(단, 시간 제한은 없습니다).
              </div>
              <div>6. 주기적인 검사를 통해서 변화를 확인해 볼 수 있습니다.</div>
            </div>

            <button type="submit" name="process" class="submit">시작하기</button>
          </div>
          <!-- end submit step -->
        </div>
        <!-- end middle-wizard -->

        <div id="bottom-wizard">
          <button type="button" name="backward" class="backward">이전</button>
          <button type="button" name="forward" class="forward">다음</button>
        </div>
        <!-- end bottom-wizard -->
      </form>
    </div>
  </div>
  <!-- end Survey container -->
</section>
<!-- end section main container -->

<!-- Modal About (Terms and Conditions) -->
<div
  class="modal"
  id="terms-txt"
  tabindex="-1"
  role="dialog"
  aria-labelledby="termsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        <h4 class="modal-title" id="termsLabel">개인정보 수집 동의서</h4>
      </div>
      <div class="modal-body">
        <div>
          『개인정보보호법』 제 15조에 의거하여 개인정보 수집 및 이용에 대해 개인정보 수집 및 이용
          동의서를 받고 있습니다. 심리검사 결과 및 정보를 제공하기 위한 것이니, 동의 부탁드립니다.
          또한 수집한 개인정보는 익명 처리 되어, 추후 교육 콘텐츠 및 통계 데이터, 보다 나은 검사도구
          제작을 위한 정보 제공 용도로 활용될 수 있습니다.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- background polygons -->
<div id="bg-ring"></div>
<div id="bg-ring-triangle"></div>
<div id="bg-circle"></div>
<div id="bg-square"></div>

<!-- OTHER JS -->
<script src="{% static 'js/jquery.validate.js'%}"></script>
<script src="{% static 'js/jquery.placeholder.js'%}"></script>
<!-- <script src="{% static 'js/jquery.tweet.min.js'%}"></script> -->
<script src="{% static 'js/jquery.bxslider.min.js'%}"></script>
<script src="{% static 'js/quantity-bt.js'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="{% static 'js/retina.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/functions.js'%}"></script>

{% endblock content %}
